.arizonia-regular {
    font-family: "Arizonia", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

header {
    display: flex;
    justify-content: flex-start;
    color: purple;
    font-size: 30px;
    font-family: "Arizonia", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: antiquewhite;
    font-family: "Farsan", cursive;
    font-weight: 400;
    font-style: normal;
    color: purple;
    
}


body.dark {
    background-color: rgb(44, 44, 44);
    
}

.buttons {
    background-color: orange;
    font-size: 25px;
    color: purple;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: .4s;
    cursor: pointer;
    text-decoration: none;
    border-radius: 8px;
    border:1px solid purple ;
    transition-duration: .4s;
}

.buttons:hover {
    background-color:purple;
    color: orange;
}

